<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div style="position: absolute;align-items: center;left: 350px;">
        <h3 style="text-align: center;">Thư viện <span style="color: red">trường Đại học Lùa Gà TP.HCM</span>, thân gửi sinh viên [Name]!</h3>
        <p>Xin trân trọng thông báo đến sinh viên [Name] về việc [HeaderMess]</p>
        <div>[MessBody]</div>
        <p><a href="https://luaga123-001-site1.htempurl.com">Link truy cập</a><p>
        <p><b>Xin lưu ý: Đây là email gửi tự động từ hệ thống, vui lòng không trả lời về địa chỉ email này.</b></p>
    </div>

</body>
</html>