/****** Object:  UserDefinedFunction [dbo].[F_KiemTraBangThuTucHoacHam]    Script Date: 08/12/2023 09:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Function [dbo].[F_KiemTraBangThuTucHoacHam] (@object varchar(200))
Returns int
As
	Begin
		Declare @Bang bit, @ThuTuc bit, @HamVoHuong bit, @HamNoiTuyen bit, @LoaiObject tinyint = 4

		If (@object In (Select Table_Name From Information_Schema.Tables))
			Set @Bang = 1
		Else
			Set @Bang = 0

		If (@Bang = 0)
			Begin
				If (Select Top 1 ROUTINE_TYPE From Information_Schema.Routines Where SPECIFIC_NAME Like @object) Like 'PROCEDURE'
					Set @ThuTuc = 1
				Else
					Set @ThuTuc = 0

				If (Select Top 1 Data_Type From Information_Schema.Routines Where SPECIFIC_NAME Like @object) Like 'TABLE'
					Set @HamVoHuong = 0
				Else
					Set @HamVoHuong = 1
			End

		If(@Bang = 1)
			Set @LoaiObject = 0
		Else
			If (@ThuTuc = 1)
				Set @LoaiObject = 1
			Else
				If (@HamVoHuong = 0)
					Set @LoaiObject = 2
				Else
					Set @LoaiObject = 3
		Return @LoaiObject
	End
GO
/****** Object:  UserDefinedFunction [dbo].[FN_Ktrathoigian]    Script Date: 08/12/2023 09:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Function [dbo].[FN_Ktrathoigian] (@Map Int, @M Datetime, @T Datetime)
Returns Int
As
	Begin
		Declare @Kq Int
		Set @Kq = 0
		Declare CR_TG Cursor For
			Select THOIGIANMUON, THOIGIANTRA
			From CHITIETMUONPHONG
			Where MAPHONG = @Map And Day(THOIGIANMUON) = Day(@M)
		Declare @Tgm Datetime,@Tgt Datetime
		Open CR_TG

		Fetch Next From CR_TG Into @Tgm,@Tgt
		While(@@FETCH_STATUS = 0)
		Begin
			If (Datediff(Minute, @M, @Tgt) >= 0 And DateDiff(Minute, @T, @Tgt) <= 0)
				Set @Kq = 1
			If (DateDiff(Minute, @M, @TgM) <= 0 And DateDiff(Minute, @T, @Tgt) >= 0)
				Set @Kq = 1
			If (Datediff(Minute, @T, @Tgt) >= 0 And DateDiff(Minute, @M, @Tgm) <= 0 And Datediff(Minute, @T, @Tgm) <= 0)
				Set @Kq = 1
			If (DateDiff(Minute, @M, @TgM) >= 0 And DateDiff(Minute, @T, @Tgt) >= 0 And Datediff(Minute, @T, @Tgm) < 0)
				Set @Kq = 1
			Fetch Next From CR_TG Into @Tgm,@Tgt
		End
		Close CR_TG
		Deallocate CR_TG
		Return @Kq
	End
GO
/****** Object:  UserDefinedFunction [dbo].[FN_TG]    Script Date: 08/12/2023 09:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[FN_TG] (@maP int, @m datetime, @t datetime)
returns int
as
begin
	declare @kq int
	set @kq = 0
	declare CR_TG cursor
	for	select THOIGIANMUON, THOIGIANTRA  from CHITIETMUONPHONG where MAPHONG =@maP
	declare @tgm datetime,@tgt datetime
	open CR_TG

	fetch next from CR_TG into @tgm,@tgt
	while(@@FETCH_STATUS = 0)
	begin
		if(YEAR(CAST(@m as datetime)) = YEAR(@tgt) and MONTH(cast(@m as datetime)) = MONTH(@tgt)) and DAY(CAST(@m as datetime)) = DAY(@tgt)
		begin
			if(DATEPART(HOUR,CAST(@m as datetime)) > DATEPART(HOUR,@tgt))
			begin
				if(DATEPART(HOUR,CAST(@t as datetime)) - DATEPART(HOUR,CAST(@m as datetime)) > 0 and DATEPART(HOUR,CAST(@t as datetime)) - DATEPART(HOUR,CAST(@m as datetime)) < 3)
				begin
					set @kq = 1
				end
			end
		end

		fetch next from CR_TG into @tgm,@tgt
	end
	close CR_TG
	deallocate CR_TG
	return @kq
end
GO
/****** Object:  UserDefinedFunction [dbo].[fn_ThongKeSLPhong]    Script Date: 08/12/2023 09:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[fn_ThongKeSLPhong](@namTK int)
returns varchar(120)
as
	begin
	declare @kq varchar(MAX), @thang int,@soPhong int, @tmpSoPhong nvarchar(20)
		set @thang = 1
		set @kq = ' '
		while (@thang < 13)
		begin
			set @soPhong = (
						select  count(year(THOIGIANMUON))
						from PHONG p,CHITIETMUONPHONG ct,THETHUVIEN t
						where p.MAPHONG = ct.MAPHONG and t.MATTV = ct.MANSD and MONTH(ct.THOIGIANMUON) = @thang and YEAR(ct.THOIGIANMUON) = @namTK
						group by year(ct.THOIGIANMUON)
						)
			if @soPhong is null
				set @tmpSoPhong = '0'
			else
				set @tmpSoPhong = convert(varchar(50),@soPhong)
			set @kq = @kq + @tmpSoPhong + ','
			set @thang = @thang +1
		end
		return @kq
	end
GO
/****** Object:  UserDefinedFunction [dbo].[LAY_TEN_ND]    Script Date: 08/12/2023 09:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[LAY_TEN_ND](@MATV INT)
RETURNS NVARCHAR(20)
AS
BEGIN
	RETURN( SELECT HOTEN FROM THETHUVIEN
			WHERE MATTV = @MATV
			)
END
GO
/****** Object:  UserDefinedFunction [dbo].[LAY_TEN_NV]    Script Date: 08/12/2023 09:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[LAY_TEN_NV](@MANV INT)
RETURNS NVARCHAR(20)
AS
BEGIN
	RETURN( SELECT HOTEN FROM NHANVIEN
			WHERE MANHANVIEN = @MANV
			)
END
GO
/****** Object:  UserDefinedFunction [dbo].[LAY_TEN_PHONG]    Script Date: 08/12/2023 09:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[LAY_TEN_PHONG](@MAPH INT)
RETURNS NVARCHAR(20)
AS
BEGIN
	RETURN( SELECT TENPHONG FROM PHONG
			WHERE MAPHONG = @MAPH
			)
END
GO
/****** Object:  UserDefinedFunction [dbo].[ThemCotKhongDau]    Script Date: 08/12/2023 09:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Function [dbo].[ThemCotKhongDau] (@Text Nvarchar(100))
Returns Nvarchar(100)
As
Begin
	Set @Text = Lower(@Text)
	Declare @Textlen Int = Len(@Text)
	If @Textlen > 0
	Begin
		Declare @Index Int = 1
		Declare @Lpos Int
		Declare @Sign_Chars Nvarchar(100) = N'ăâđêôơưàảãạáằẳẵặắầẩẫậấèẻẽẹéềểễệếìỉĩịíòỏõọóồổỗộốờởỡợớùủũụúừửữựứỳỷỹỵýđð'
		Declare @Unsign_Chars Varchar(100) = 'aadeoouaaaaaaaaaaaaaaaeeeeeeeeeeiiiiiooooooooooooooouuuuuuuuuuyyyyydd'

		While @Index <= @Textlen
		Begin
			Set @Lpos = Charindex(Substring(@Text,@Index,1),@Sign_Chars)
			If @Lpos > 0
			Begin
				Set @Text = Stuff(@Text,@Index,1,Substring(@Unsign_Chars,@Lpos,1))
			End
			Set @Index = @Index + 1
		End
	End
	Return @Text
End
GO
/****** Object:  Table [dbo].[CHUDE]    Script Date: 08/12/2023 09:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUDE](
	[MACHUDE] [int] IDENTITY(1,1) NOT NULL,
	[TENCHUDE] [nvarchar](120) NOT NULL,
 CONSTRAINT [PK_CHUDE] PRIMARY KEY CLUSTERED 
(
	[MACHUDE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAXUATBAN]    Script Date: 08/12/2023 09:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAXUATBAN](
	[MANXB] [int] IDENTITY(1,1) NOT NULL,
	[TENNXB] [nvarchar](120) NOT NULL,
 CONSTRAINT [PK_NHAXUATBAN] PRIMARY KEY CLUSTERED 
(
	[MANXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SACH]    Script Date: 08/12/2023 09:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACH](
	[MASACH] [int] IDENTITY(1,1) NOT NULL,
	[MANXB] [int] NOT NULL,
	[MACHUDE] [int] NOT NULL,
	[TENSACH] [nvarchar](120) NOT NULL,
	[MOTA] [nvarchar](max) NOT NULL,
	[NAMXUATBAN] [datetime] NOT NULL,
	[GIASACH] [int] NOT NULL,
	[ANHBIA] [char](120) NOT NULL,
 CONSTRAINT [PK_SACH] PRIMARY KEY CLUSTERED 
(
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[SachKhongDau]    Script Date: 08/12/2023 09:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create View [dbo].[SachKhongDau]
As
	Select Sach.MaSach, dbo.ThemCotKhongDau(TenSach) As 'TenSach', dbo.ThemCotKhongDau(TenChuDe) As 'TenChuDe', dbo.ThemCotKhongDau(TenNXB) As 'TenNXB'
	From Sach, ChuDe, NhaXuatBan
	Where Sach.MaChuDe = ChuDe.MaChuDe And Sach.MaNXB = NhaXuatBan.MaNXB
GO
/****** Object:  UserDefinedFunction [dbo].[F_TimSach]    Script Date: 08/12/2023 09:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Function [dbo].[F_TimSach](@ChuoiTimKiem nvarchar (200))
Returns Table
As
	Return (Select s.MASACH, s.MANXB, s.MACHUDE, s.TENSACH, MOTA, NAMXUATBAN, GIASACH, ANHBIA
			From Sach s
			Join CHUDE cd on s.MACHUDE = cd.MACHUDE
			Join NHAXUATBAN nxb on s.MANXB = nxb.MANXB
			Join SachKhongDau skd On skd.MASACH = s.MASACH
			Where CONVERT(char , s.MASACH) Like @ChuoiTimKiem Or
				s.TenSach Like @ChuoiTimKiem Or
				cd.TENCHUDE Like @ChuoiTimKiem Or
				nxb.TENNXB Like @ChuoiTimKiem Or
				skd.TenSach Like @ChuoiTimKiem Or
				skd.TenChuDe Like @ChuoiTimKiem Or
				skd.TenNXB like @ChuoiTimKiem)
GO
/****** Object:  Table [dbo].[CHITIETMUONPHONG]    Script Date: 08/12/2023 09:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETMUONPHONG](
	[MANSD] [int] NOT NULL,
	[MAPHONG] [int] NOT NULL,
	[MANHANVIEN] [int] NULL,
	[THOIGIANMUON] [datetime] NOT NULL,
	[THOIGIANTRA] [datetime] NOT NULL,
 CONSTRAINT [PK_CHITIETMUONPHONG] PRIMARY KEY CLUSTERED 
(
	[MANSD] ASC,
	[MAPHONG] ASC,
	[THOIGIANMUON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[F_TimPhongDuocMuonTrongKhoangThoiGianAB]    Script Date: 08/12/2023 09:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Function [dbo].[F_TimPhongDuocMuonTrongKhoangThoiGianAB] (@ThoiGianA DateTime, @ThoiGianB DateTime)
Returns Table
As
	Return (Select * From ChiTietMuonPhong
			Where ThoiGianMuon >= @ThoiGianA And ThoiGianTra <= @ThoiGianB)
GO
/****** Object:  UserDefinedFunction [dbo].[F_TimPhongTrongTrongKhoangThoiGianAB]    Script Date: 08/12/2023 09:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Function [dbo].[F_TimPhongTrongTrongKhoangThoiGianAB] (@ThoiGianA DateTime, @ThoiGianB DateTime)
Returns Table
As
	Return (Select Distinct MaPhong From ChiTietMuonPhong
			Where dbo.FN_Ktrathoigian(maPhong, @ThoiGianA, @ThoiGianB) = 0 )
GO
/****** Object:  Table [dbo].[THETHUVIEN]    Script Date: 08/12/2023 09:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THETHUVIEN](
	[MATTV] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN] [nvarchar](120) NULL,
	[SODIENTHOAI] [char](10) NULL,
	[NGUOINGOAI] [bit] NULL,
	[EMAIL] [varchar](120) NULL,
	[DIACHI] [nvarchar](200) NULL,
	[NGAYCAP] [datetime] NOT NULL,
	[NGAYHETHAN] [datetime] NOT NULL,
 CONSTRAINT [PK_THETHUVIEN] PRIMARY KEY CLUSTERED 
(
	[MATTV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[FN_DanhSachTTV]    Script Date: 08/12/2023 09:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[FN_DanhSachTTV] ()
returns table
as
	return
	select * from THETHUVIEN
GO
/****** Object:  Table [dbo].[PHIEUMUON]    Script Date: 08/12/2023 09:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUMUON](
	[MAPHIEUMUON] [int] IDENTITY(1,1) NOT NULL,
	[MANHANVIEN] [int] NULL,
	[MANSD] [int] NOT NULL,
	[NGAYMUON] [datetime] NOT NULL,
	[NGAYTRA] [datetime] NULL,
 CONSTRAINT [PK_PHIEUMUON] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUMUON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[FN_MuonSachXN]    Script Date: 08/12/2023 09:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[FN_MuonSachXN]()
returns table
as
	return
	select * from PHIEUMUON where MANHANVIEN is null
GO
/****** Object:  UserDefinedFunction [dbo].[FN_PhongChoXN]    Script Date: 08/12/2023 09:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[FN_PhongChoXN]()
returns table
as
	return
	select * from CHITIETMUONPHONG where MANHANVIEN is null
GO
/****** Object:  UserDefinedFunction [dbo].[FN_LayDSQuyenTrenObject]    Script Date: 08/12/2023 09:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[FN_LayDSQuyenTrenObject](@name varchar(200), @object varchar(200))
returns table
as
	return (
		SELECT permit.permission_name AS [Permission]
		FROM    sys.database_principals pri
		LEFT JOIN sys.database_permissions permit
		ON permit.grantee_principal_id = pri.principal_id
		WHERE pri.name = @name AND object_name(permit.major_id) = @object
	)
GO
/****** Object:  UserDefinedFunction [dbo].[FN_LayDSTTQuyenTrenObject]    Script Date: 08/12/2023 09:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[FN_LayDSTTQuyenTrenObject](@name varchar(200), @object varchar(200))
returns table
as
	return (
		SELECT permit.state_desc AS [Permission State]
		FROM    sys.database_principals pri
		LEFT JOIN sys.database_permissions permit
		ON permit.grantee_principal_id = pri.principal_id
		WHERE pri.name = @name AND object_name(permit.major_id) = @object
	)
GO
/****** Object:  View [dbo].[DanhSachDoiTuong]    Script Date: 08/12/2023 09:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create View [dbo].[DanhSachDoiTuong]
As
	Select User_Name(MemberUID) As UserName
	From Sys.Sysmembers
	Where User_Name(MemberUID) <> 'dbo'
	Union
	Select Distinct User_Name(GroupUID) As RoleName
	From Sys.Sysmembers
	Where User_Name(GroupUID) <> 'db_owner'
GO
/****** Object:  Table [dbo].[BANSAOSACH]    Script Date: 08/12/2023 09:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANSAOSACH](
	[MASACH] [int] NOT NULL,
	[MABANSAO] [int] IDENTITY(1,1) NOT NULL,
	[TINHTRANG] [bit] NOT NULL,
 CONSTRAINT [PK_BANSAOSACH_1] PRIMARY KEY CLUSTERED 
(
	[MABANSAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BIVIPHAM]    Script Date: 08/12/2023 09:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BIVIPHAM](
	[MAVIPHAM] [int] NOT NULL,
	[MAPHIEUMUON] [int] NOT NULL,
	[MAPHIEUTRA] [int] NOT NULL,
 CONSTRAINT [PK_BIVIPHAM] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUMUON] ASC,
	[MAVIPHAM] ASC,
	[MAPHIEUTRA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETMUONSACH]    Script Date: 08/12/2023 09:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETMUONSACH](
	[MASACH] [int] NOT NULL,
	[MABANSAO] [int] NOT NULL,
	[MAPHIEUMUON] [int] NOT NULL,
 CONSTRAINT [PK_CHITIETMUONSACH] PRIMARY KEY CLUSTERED 
(
	[MASACH] ASC,
	[MABANSAO] ASC,
	[MAPHIEUMUON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETTRASACH]    Script Date: 08/12/2023 09:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETTRASACH](
	[MAPHIEUMUON] [int] NOT NULL,
	[MAPHIEUTRA] [int] NOT NULL,
	[MASACH] [int] NOT NULL,
	[MABANSAO] [int] NOT NULL,
 CONSTRAINT [PK_CHITIETTRASACH] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUMUON] ASC,
	[MASACH] ASC,
	[MAPHIEUTRA] ASC,
	[MABANSAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUNGCAP]    Script Date: 08/12/2023 09:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUNGCAP](
	[MANHACUNGCAP] [int] NOT NULL,
	[MASACH] [int] NOT NULL,
	[MAPHIEUDATHANG] [int] NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [int] NOT NULL,
 CONSTRAINT [PK_CUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MANHACUNGCAP] ASC,
	[MASACH] ASC,
	[MAPHIEUDATHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 08/12/2023 09:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKHOA] [int] NOT NULL,
	[TENKHOA] [nvarchar](100) NULL,
 CONSTRAINT [PK_KHOA] PRIMARY KEY CLUSTERED 
(
	[MAKHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 08/12/2023 09:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANHACUNGCAP] [int] IDENTITY(1,1) NOT NULL,
	[TENNHACUNGCAP] [nvarchar](120) NOT NULL,
	[DIACHI] [nvarchar](200) NOT NULL,
	[SODIENTHOAI] [char](10) NOT NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MANHACUNGCAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 08/12/2023 09:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANHANVIEN] [int] IDENTITY(1,1) NOT NULL,
	[MATAIKHOAN] [int] NULL,
	[HOTEN] [nvarchar](120) NOT NULL,
	[NGAYSINH] [datetime] NOT NULL,
	[SODIENTHOAI] [char](10) NOT NULL,
	[DIACHI] [nvarchar](200) NOT NULL,
	[EMAIL] [varchar](120) NOT NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUDATHANG]    Script Date: 08/12/2023 09:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUDATHANG](
	[MAPHIEUDATHANG] [int] IDENTITY(1,1) NOT NULL,
	[MANHANVIEN] [int] NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[NGAYLAP] [datetime] NOT NULL,
 CONSTRAINT [PK_PHIEUDATHANG] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUDATHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUGIAO]    Script Date: 08/12/2023 09:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUGIAO](
	[MAPHIEUDATHANG] [int] NOT NULL,
	[MAPHIEUGIAOHANG] [int] IDENTITY(1,1) NOT NULL,
	[NGAYGIAO] [datetime] NOT NULL,
 CONSTRAINT [PK_PHIEUGIAO] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUDATHANG] ASC,
	[MAPHIEUGIAOHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUTRA]    Script Date: 08/12/2023 09:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTRA](
	[MAPHIEUMUON] [int] NOT NULL,
	[MAPHIEUTRA] [int] IDENTITY(1,1) NOT NULL,
	[NGAYTRATHAT] [datetime] NOT NULL,
 CONSTRAINT [PK_PHIEUTRA] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUMUON] ASC,
	[MAPHIEUTRA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 08/12/2023 09:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[MAPHONG] [int] IDENTITY(1,1) NOT NULL,
	[TENPHONG] [nvarchar](20) NOT NULL,
	[VITRI] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_PHONG] PRIMARY KEY CLUSTERED 
(
	[MAPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TACGIA]    Script Date: 08/12/2023 09:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TACGIA](
	[MATACGIA] [int] IDENTITY(1,1) NOT NULL,
	[TENTACGIA] [nvarchar](120) NOT NULL,
 CONSTRAINT [PK_TACGIA] PRIMARY KEY CLUSTERED 
(
	[MATACGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 08/12/2023 09:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[MATAIKHOAN] [int] IDENTITY(1,1) NOT NULL,
	[MANHANVIEN] [int] NULL,
	[TENDN] [varchar](120) NULL,
	[MATKHAU] [varchar](20) NOT NULL,
	[CHUCVU] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[MATAIKHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THAMGIA]    Script Date: 08/12/2023 09:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THAMGIA](
	[MASACH] [int] NOT NULL,
	[MATACGIA] [int] NOT NULL,
	[VAITRO] [nvarchar](60) NULL,
 CONSTRAINT [PK_THAMGIA] PRIMARY KEY CLUSTERED 
(
	[MASACH] ASC,
	[MATACGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THANHLY]    Script Date: 08/12/2023 09:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THANHLY](
	[MANHANVIEN] [int] NOT NULL,
	[MASACH] [int] NOT NULL,
	[NGAY] [datetime] NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [float] NULL,
 CONSTRAINT [PK_THANHLY] PRIMARY KEY CLUSTERED 
(
	[MANHANVIEN] ASC,
	[MASACH] ASC,
	[NGAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THONGBAO]    Script Date: 08/12/2023 09:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONGBAO](
	[MATHONGBAO] [int] IDENTITY(1,1) NOT NULL,
	[MANGUOITAO] [int] NOT NULL,
	[TIEUDE] [nvarchar](120) NOT NULL,
	[NOIDUNG] [nvarchar](256) NOT NULL,
	[THOIGIAN] [datetime] NOT NULL,
 CONSTRAINT [PK_THONGBAO] PRIMARY KEY CLUSTERED 
(
	[MATHONGBAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIEUHUY]    Script Date: 08/12/2023 09:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIEUHUY](
	[MATIEUHUY] [int] NOT NULL IDENTITY,
	[MABANSAO] [int] NOT NULL,
	[MANHANVIEN] [int] NOT NULL,
	[NGAY] [datetime] NULL,
	[LYDO] [nvarchar](max) NULL,
 CONSTRAINT [PK_TIEUHUY] PRIMARY KEY CLUSTERED 
(
	[MATIEUHUY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VIPHAM]    Script Date: 08/12/2023 09:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VIPHAM](
	[MAVIPHAM] [int] IDENTITY(1,1) NOT NULL,
	[TENVIPHAM] [nvarchar](120) NOT NULL,
	[XULYVIPHAM] [nvarchar](120) NOT NULL,
 CONSTRAINT [PK_VIPHAM] PRIMARY KEY CLUSTERED 
(
	[MAVIPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YEUCAU]    Script Date: 08/12/2023 09:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YEUCAU](
	[MANHANVIEN] [int] NOT NULL,
	[MAKHOA] [int] NOT NULL,
	[NOIDUNG] [nvarchar](500) NULL,
	[NGAY] [datetime] NULL,
 CONSTRAINT [PK_YeuCau] PRIMARY KEY CLUSTERED 
(
	[MANHANVIEN] ASC,
	[MAKHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BANSAOSACH] ON 

INSERT [dbo].[BANSAOSACH] ([MASACH], [MABANSAO], [TINHTRANG]) VALUES (1, 1, 0)
INSERT [dbo].[BANSAOSACH] ([MASACH], [MABANSAO], [TINHTRANG]) VALUES (1, 2, 0)
INSERT [dbo].[BANSAOSACH] ([MASACH], [MABANSAO], [TINHTRANG]) VALUES (1, 3, 0)
GO
SET IDENTITY_INSERT [dbo].[BANSAOSACH] OFF
GO
INSERT [dbo].[BIVIPHAM] ([MAVIPHAM], [MAPHIEUMUON], [MAPHIEUTRA]) VALUES (4, 1, 1)
INSERT [dbo].[BIVIPHAM] ([MAVIPHAM], [MAPHIEUMUON], [MAPHIEUTRA]) VALUES (1, 2, 2)
INSERT [dbo].[BIVIPHAM] ([MAVIPHAM], [MAPHIEUMUON], [MAPHIEUTRA]) VALUES (5, 3, 3)
GO
INSERT [dbo].[CHITIETMUONPHONG] ([MANSD], [MAPHONG], [MANHANVIEN], [THOIGIANMUON], [THOIGIANTRA]) VALUES (1, 1, 1, CAST(N'2023-12-01T08:00:00.000' AS DateTime), CAST(N'2023-12-01T10:00:00.000' AS DateTime))
INSERT [dbo].[CHITIETMUONPHONG] ([MANSD], [MAPHONG], [MANHANVIEN], [THOIGIANMUON], [THOIGIANTRA]) VALUES (1, 2, 4, CAST(N'2023-11-23T15:00:00.000' AS DateTime), CAST(N'2023-11-23T23:20:00.000' AS DateTime))
INSERT [dbo].[CHITIETMUONPHONG] ([MANSD], [MAPHONG], [MANHANVIEN], [THOIGIANMUON], [THOIGIANTRA]) VALUES (1, 3, 25, CAST(N'2023-12-08T07:00:00.000' AS DateTime), CAST(N'2023-12-08T09:00:00.000' AS DateTime))
GO
INSERT [dbo].[CHITIETMUONSACH] ([MASACH], [MABANSAO], [MAPHIEUMUON]) VALUES (2, 105, 79)
INSERT [dbo].[CHITIETMUONSACH] ([MASACH], [MABANSAO], [MAPHIEUMUON]) VALUES (2, 111, 82)
INSERT [dbo].[CHITIETMUONSACH] ([MASACH], [MABANSAO], [MAPHIEUMUON]) VALUES (3, 121, 35)
GO
INSERT [dbo].[CHITIETTRASACH] ([MAPHIEUMUON], [MAPHIEUTRA], [MASACH], [MABANSAO]) VALUES (1, 1, 60, 3463)
INSERT [dbo].[CHITIETTRASACH] ([MAPHIEUMUON], [MAPHIEUTRA], [MASACH], [MABANSAO]) VALUES (2, 2, 60, 3423)
INSERT [dbo].[CHITIETTRASACH] ([MAPHIEUMUON], [MAPHIEUTRA], [MASACH], [MABANSAO]) VALUES (3, 3, 4, 222)
GO
SET IDENTITY_INSERT [dbo].[CHUDE] ON 

INSERT [dbo].[CHUDE] ([MACHUDE], [TENCHUDE]) VALUES (1, N'Công nghệ thông tin')
INSERT [dbo].[CHUDE] ([MACHUDE], [TENCHUDE]) VALUES (2, N'Ngoại ngữ')
INSERT [dbo].[CHUDE] ([MACHUDE], [TENCHUDE]) VALUES (3, N'Phật Giáo')
SET IDENTITY_INSERT [dbo].[CHUDE] OFF
GO
INSERT [dbo].[CUNGCAP] ([MANHACUNGCAP], [MASACH], [MAPHIEUDATHANG], [SOLUONG], [DONGIA]) VALUES (1, 6, 7, 35, 167000)
INSERT [dbo].[CUNGCAP] ([MANHACUNGCAP], [MASACH], [MAPHIEUDATHANG], [SOLUONG], [DONGIA]) VALUES (1, 14, 16, 43, 94000)
INSERT [dbo].[CUNGCAP] ([MANHACUNGCAP], [MASACH], [MAPHIEUDATHANG], [SOLUONG], [DONGIA]) VALUES (1, 15, 25, 42, 144000)
GO
SET IDENTITY_INSERT [dbo].[NHACUNGCAP] ON 

INSERT [dbo].[NHACUNGCAP] ([MANHACUNGCAP], [TENNHACUNGCAP], [DIACHI], [SODIENTHOAI]) VALUES (1, N'Công Ty Cổ Phần Phát Hành Sách Tp. HCM', N'60-62 Lê Lợi, P. Bến Nghé, Q. 1, Tp. Hồ Chí Minh (TPHCM)', N'0283845268')
INSERT [dbo].[NHACUNGCAP] ([MANHACUNGCAP], [TENNHACUNGCAP], [DIACHI], [SODIENTHOAI]) VALUES (2, N'Công Ty Cổ Phần Sách & Thiết Bị Giáo Dục Trí Tuệ', N'187 Giảng Võ, Q. Đống Đa, Hà Nội', N'0283845269')
INSERT [dbo].[NHACUNGCAP] ([MANHACUNGCAP], [TENNHACUNGCAP], [DIACHI], [SODIENTHOAI]) VALUES (3, N'Công Ty TNHH Văn Hóa Việt Long', N'14/35, Đào Duy Anh, P.9, Q. Phú Nhuận, Tp. Hồ Chí Minh', N'0283845270')
SET IDENTITY_INSERT [dbo].[NHACUNGCAP] OFF
GO
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [MATAIKHOAN], [HOTEN], [NGAYSINH], [SODIENTHOAI], [DIACHI], [EMAIL]) VALUES (1, 1, N'Nguyễn Văn Nghĩa', CAST(N'1992-10-17T00:00:00.000' AS DateTime), N'0699900873', N'202 - 204 Nơ Trang Long, Phường 12, Quận Bình Thạnh', N'nghia@gmail.com')
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [MATAIKHOAN], [HOTEN], [NGAYSINH], [SODIENTHOAI], [DIACHI], [EMAIL]) VALUES (2, 2, N'Nguyễn Văn Đạt', CAST(N'2001-01-02T00:00:00.000' AS DateTime), N'0963231459', N'14 Cống Quỳnh, Phường Nguyễn Cư Trinh, Quận 1', N'dat@gmail.com')
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [MATAIKHOAN], [HOTEN], [NGAYSINH], [SODIENTHOAI], [DIACHI], [EMAIL]) VALUES (3, 3, N'Trần Thị Mỹ Lệ', CAST(N'1997-09-04T00:00:00.000' AS DateTime), N'0965231460', N'155 Calmette, Phường Nguyễn Thái Bình, Quận 1', N'le@gmail.com')
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
GO
SET IDENTITY_INSERT [dbo].[NHAXUATBAN] ON 

INSERT [dbo].[NHAXUATBAN] ([MANXB], [TENNXB]) VALUES (1, N'Nhà xuất bản Trẻ')
INSERT [dbo].[NHAXUATBAN] ([MANXB], [TENNXB]) VALUES (2, N'NXB Thống kê')
INSERT [dbo].[NHAXUATBAN] ([MANXB], [TENNXB]) VALUES (3, N'Kim đồng')
SET IDENTITY_INSERT [dbo].[NHAXUATBAN] OFF
GO
SET IDENTITY_INSERT [dbo].[PHIEUDATHANG] ON 

INSERT [dbo].[PHIEUDATHANG] ([MAPHIEUDATHANG], [MANHANVIEN], [SOLUONG], [NGAYLAP]) VALUES (1, 1, 35, CAST(N'2020-09-23T00:00:00.000' AS DateTime))
INSERT [dbo].[PHIEUDATHANG] ([MAPHIEUDATHANG], [MANHANVIEN], [SOLUONG], [NGAYLAP]) VALUES (2, 3, 25, CAST(N'2020-07-15T00:00:00.000' AS DateTime))
INSERT [dbo].[PHIEUDATHANG] ([MAPHIEUDATHANG], [MANHANVIEN], [SOLUONG], [NGAYLAP]) VALUES (3, 3, 35, CAST(N'2020-10-02T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[PHIEUDATHANG] OFF
GO
SET IDENTITY_INSERT [dbo].[PHIEUMUON] ON 

INSERT [dbo].[PHIEUMUON] ([MAPHIEUMUON], [MANHANVIEN], [MANSD], [NGAYMUON], [NGAYTRA]) VALUES (1, 2, 33, CAST(N'2022-05-10T00:00:00.000' AS DateTime), CAST(N'2022-05-17T00:00:00.000' AS DateTime))
INSERT [dbo].[PHIEUMUON] ([MAPHIEUMUON], [MANHANVIEN], [MANSD], [NGAYMUON], [NGAYTRA]) VALUES (2, 4, 5, CAST(N'2022-02-20T00:00:00.000' AS DateTime), CAST(N'2022-02-27T00:00:00.000' AS DateTime))
INSERT [dbo].[PHIEUMUON] ([MAPHIEUMUON], [MANHANVIEN], [MANSD], [NGAYMUON], [NGAYTRA]) VALUES (3, 5, 24, CAST(N'2022-02-01T00:00:00.000' AS DateTime), CAST(N'2022-02-08T00:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[PHIEUMUON] OFF
GO
SET IDENTITY_INSERT [dbo].[PHIEUTRA] ON 

INSERT [dbo].[PHIEUTRA] ([MAPHIEUMUON], [MAPHIEUTRA], [NGAYTRATHAT]) VALUES (1, 1, CAST(N'2022-05-16T00:00:00.000' AS DateTime))
INSERT [dbo].[PHIEUTRA] ([MAPHIEUMUON], [MAPHIEUTRA], [NGAYTRATHAT]) VALUES (1, 101, CAST(N'2022-05-16T00:00:00.000' AS DateTime))
INSERT [dbo].[PHIEUTRA] ([MAPHIEUMUON], [MAPHIEUTRA], [NGAYTRATHAT]) VALUES (2, 2, CAST(N'2022-02-26T00:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[PHIEUTRA] OFF
GO
SET IDENTITY_INSERT [dbo].[PHONG] ON 

INSERT [dbo].[PHONG] ([MAPHONG], [TENPHONG], [VITRI]) VALUES (1, N'Phòng học số 1', N'Tầng 3')
INSERT [dbo].[PHONG] ([MAPHONG], [TENPHONG], [VITRI]) VALUES (2, N'Phòng học số 2', N'Tầng 3')
INSERT [dbo].[PHONG] ([MAPHONG], [TENPHONG], [VITRI]) VALUES (3, N'Phòng học số 3', N'Tầng 3')
SET IDENTITY_INSERT [dbo].[PHONG] OFF
GO
SET IDENTITY_INSERT [dbo].[SACH] ON 

INSERT [dbo].[SACH] ([MASACH], [MANXB], [MACHUDE], [TENSACH], [MOTA], [NAMXUATBAN], [GIASACH], [ANHBIA]) VALUES (1, 1, 1, N'Sketchup & Vray Trong Thiết Kế 1 Kiến Trúc', N'<p>Nội dung s&aacute;ch bao gồm 2 phần - 17 b&agrave;i tập:&nbsp;2</p>', CAST(N'2016-08-10T00:00:00.000' AS DateTime), 85000, N'000001.jpg                                                                                                              ')
INSERT [dbo].[SACH] ([MASACH], [MANXB], [MACHUDE], [TENSACH], [MOTA], [NAMXUATBAN], [GIASACH], [ANHBIA]) VALUES (2, 2, 1, N'3DS Max-Thủ Thuật Render Phối Cảnh kiến Trúc Ban Ngày Và Đêm Với V-Ray 1.50 RC3', N'Cuốn sách 3DS Max giới thiệu đến các bạn những kỹ năng sử dụng phần mềm hỗ trợ V-ray mới nhất đang được nhiều người trên thế giới quan tâm. ', CAST(N'2015-09-11T00:00:00.000' AS DateTime), 75000, N'000002.jpg                                                                                                              ')
INSERT [dbo].[SACH] ([MASACH], [MANXB], [MACHUDE], [TENSACH], [MOTA], [NAMXUATBAN], [GIASACH], [ANHBIA]) VALUES (3, 3, 1, N'Tự Học InDesign CS3', N'InDesign CS3 là chương trình dàn trang rất hiện đại và tiện dụng dành cho việc trình bày sách, báo, tạp chí...', CAST(N'2016-10-13T00:00:00.000' AS DateTime), 55000, N'000003.jpg                                                                                                              ')
SET IDENTITY_INSERT [dbo].[SACH] OFF
GO
SET IDENTITY_INSERT [dbo].[TACGIA] ON 

INSERT [dbo].[TACGIA] ([MATACGIA], [TENTACGIA]) VALUES (1, N'Tenzin Gyatso - Đức Đạt Lai Lạt Ma 14')
INSERT [dbo].[TACGIA] ([MATACGIA], [TENTACGIA]) VALUES (2, N'Trịnh Xuân Thuận')
INSERT [dbo].[TACGIA] ([MATACGIA], [TENTACGIA]) VALUES (3, N'Matthieu Ricard')
SET IDENTITY_INSERT [dbo].[TACGIA] OFF
GO
SET IDENTITY_INSERT [dbo].[TAIKHOAN] ON 

INSERT [dbo].[TAIKHOAN] ([MATAIKHOAN], [MANHANVIEN], [TENDN], [MATKHAU], [CHUCVU]) VALUES (1, 1, N'NV1', N'123', N'Nhân viên')
INSERT [dbo].[TAIKHOAN] ([MATAIKHOAN], [MANHANVIEN], [TENDN], [MATKHAU], [CHUCVU]) VALUES (2, 2, N'NV2', N'123456', N'Nhân viên')
INSERT [dbo].[TAIKHOAN] ([MATAIKHOAN], [MANHANVIEN], [TENDN], [MATKHAU], [CHUCVU]) VALUES (3, 3, N'NV3', N'123456', N'Nhân viên')
SET IDENTITY_INSERT [dbo].[TAIKHOAN] OFF
GO
INSERT [dbo].[THAMGIA] ([MASACH], [MATACGIA], [VAITRO]) VALUES (1, 33, N'Tác giả')
INSERT [dbo].[THAMGIA] ([MASACH], [MATACGIA], [VAITRO]) VALUES (1, 34, N'Tác giả')
INSERT [dbo].[THAMGIA] ([MASACH], [MATACGIA], [VAITRO]) VALUES (2, 51, N'Tác giả')
GO
SET IDENTITY_INSERT [dbo].[THETHUVIEN] ON 

INSERT [dbo].[THETHUVIEN] ([MATTV], [HOTEN], [SODIENTHOAI], [NGUOINGOAI], [EMAIL], [DIACHI], [NGAYCAP], [NGAYHETHAN]) VALUES (1, N'Nguyễn Bá Ngọc', N'0931655817', 1, N'nguyenbangoc673@gmail.com', N'163 Nguyễn Văn Trỗi, Phường 11, Quận Phú Nhuận', CAST(N'2021-09-22T00:00:00.000' AS DateTime), CAST(N'2022-09-22T00:00:00.000' AS DateTime))
INSERT [dbo].[THETHUVIEN] ([MATTV], [HOTEN], [SODIENTHOAI], [NGUOINGOAI], [EMAIL], [DIACHI], [NGAYCAP], [NGAYHETHAN]) VALUES (2, N'Nguyễn Ngọc Trí Vĩ', N'0955958710', 1, N'hv.12a07.43.nguyenngoctrivi@gmail.com', N'171 Nguyễn Công Trứ, Phường Nguyễn Thái Bình, Quận 1', CAST(N'2021-10-19T00:00:00.000' AS DateTime), CAST(N'2022-10-19T00:00:00.000' AS DateTime))
INSERT [dbo].[THETHUVIEN] ([MATTV], [HOTEN], [SODIENTHOAI], [NGUOINGOAI], [EMAIL], [DIACHI], [NGAYCAP], [NGAYHETHAN]) VALUES (3, N'Vũ Ngô Đạt', N'0901455491', 1, N'No', N'202 - 204 Nơ Trang Long, Phường 12, Quận Bình Thạnh', CAST(N'2021-01-08T00:00:00.000' AS DateTime), CAST(N'2022-01-08T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[THETHUVIEN] OFF
GO
SET IDENTITY_INSERT [dbo].[THONGBAO] ON 

INSERT [dbo].[THONGBAO] ([MATHONGBAO], [MANGUOITAO], [TIEUDE], [NOIDUNG], [THOIGIAN]) VALUES (1, 4, N'Cập nhật thông tin', N'abc', CAST(N'2022-01-14T15:45:00.000' AS DateTime))
INSERT [dbo].[THONGBAO] ([MATHONGBAO], [MANGUOITAO], [TIEUDE], [NOIDUNG], [THOIGIAN]) VALUES (2, 1, N'Cập nhật thông tin', N'abc', CAST(N'2022-03-14T10:30:00.000' AS DateTime))
INSERT [dbo].[THONGBAO] ([MATHONGBAO], [MANGUOITAO], [TIEUDE], [NOIDUNG], [THOIGIAN]) VALUES (3, 5, N'Cập nhật thông tin', N'abc', CAST(N'2022-01-16T14:45:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[THONGBAO] OFF
GO
SET IDENTITY_INSERT [dbo].[VIPHAM] ON 

INSERT [dbo].[VIPHAM] ([MAVIPHAM], [TENVIPHAM], [XULYVIPHAM]) VALUES (1, N'Hư hỏng mức 1', N'0,2')
INSERT [dbo].[VIPHAM] ([MAVIPHAM], [TENVIPHAM], [XULYVIPHAM]) VALUES (2, N'Hư hỏng mức 2', N'0,5')
INSERT [dbo].[VIPHAM] ([MAVIPHAM], [TENVIPHAM], [XULYVIPHAM]) VALUES (3, N'Hư hỏng mức 3', N'1')
SET IDENTITY_INSERT [dbo].[VIPHAM] OFF
GO
ALTER TABLE [dbo].[BANSAOSACH] ADD  DEFAULT ((1)) FOR [TINHTRANG]
GO
ALTER TABLE [dbo].[PHIEUMUON] ADD  DEFAULT (NULL) FOR [NGAYTRA]
GO
ALTER TABLE [dbo].[BANSAOSACH]  WITH CHECK ADD  CONSTRAINT [FK_BSS_TONTAI_S] FOREIGN KEY([MASACH])
REFERENCES [dbo].[SACH] ([MASACH])
GO
ALTER TABLE [dbo].[BANSAOSACH] CHECK CONSTRAINT [FK_BSS_TONTAI_S]
GO
ALTER TABLE [dbo].[BIVIPHAM]  WITH CHECK ADD  CONSTRAINT [FK_BVP_BIVIPHAM_VP] FOREIGN KEY([MAVIPHAM])
REFERENCES [dbo].[VIPHAM] ([MAVIPHAM])
GO
ALTER TABLE [dbo].[BIVIPHAM] CHECK CONSTRAINT [FK_BVP_BIVIPHAM_VP]
GO
ALTER TABLE [dbo].[BIVIPHAM]  WITH CHECK ADD  CONSTRAINT [FK_BVP_BIVIPHAM2_PT] FOREIGN KEY([MAPHIEUMUON], [MAPHIEUTRA])
REFERENCES [dbo].[PHIEUTRA] ([MAPHIEUMUON], [MAPHIEUTRA])
GO
ALTER TABLE [dbo].[BIVIPHAM] CHECK CONSTRAINT [FK_BVP_BIVIPHAM2_PT]
GO
ALTER TABLE [dbo].[CHITIETMUONPHONG]  WITH CHECK ADD  CONSTRAINT [FK_CTMP_CHOMUONPHONG_NV] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[CHITIETMUONPHONG] CHECK CONSTRAINT [FK_CTMP_CHOMUONPHONG_NV]
GO
ALTER TABLE [dbo].[CHITIETMUONPHONG]  WITH CHECK ADD  CONSTRAINT [FK_CTMP_DANGKIMUOMPHONG_TTV] FOREIGN KEY([MANSD])
REFERENCES [dbo].[THETHUVIEN] ([MATTV])
GO
ALTER TABLE [dbo].[CHITIETMUONPHONG] CHECK CONSTRAINT [FK_CTMP_DANGKIMUOMPHONG_TTV]
GO
ALTER TABLE [dbo].[CHITIETMUONPHONG]  WITH CHECK ADD  CONSTRAINT [FK_CTMP_MUONPHONG_P] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONG] ([MAPHONG])
GO
ALTER TABLE [dbo].[CHITIETMUONPHONG] CHECK CONSTRAINT [FK_CTMP_MUONPHONG_P]
GO
ALTER TABLE [dbo].[CHITIETMUONSACH]  WITH CHECK ADD  CONSTRAINT [FK_CTTS_CHITIETMUONSACH_PM] FOREIGN KEY([MAPHIEUMUON])
REFERENCES [dbo].[PHIEUMUON] ([MAPHIEUMUON])
GO
ALTER TABLE [dbo].[CHITIETMUONSACH] CHECK CONSTRAINT [FK_CTTS_CHITIETMUONSACH_PM]
GO
ALTER TABLE [dbo].[CHITIETTRASACH]  WITH CHECK ADD  CONSTRAINT [FK_CTTS_CHITIETTRASACH_PT] FOREIGN KEY([MAPHIEUMUON], [MAPHIEUTRA])
REFERENCES [dbo].[PHIEUTRA] ([MAPHIEUMUON], [MAPHIEUTRA])
GO
ALTER TABLE [dbo].[CHITIETTRASACH] CHECK CONSTRAINT [FK_CTTS_CHITIETTRASACH_PT]
GO
ALTER TABLE [dbo].[CUNGCAP]  WITH CHECK ADD  CONSTRAINT [FK_CC_CUNGCAP_NCC] FOREIGN KEY([MANHACUNGCAP])
REFERENCES [dbo].[NHACUNGCAP] ([MANHACUNGCAP])
GO
ALTER TABLE [dbo].[CUNGCAP] CHECK CONSTRAINT [FK_CC_CUNGCAP_NCC]
GO
ALTER TABLE [dbo].[CUNGCAP]  WITH CHECK ADD  CONSTRAINT [FK_CC_CUNGCAP2_S] FOREIGN KEY([MASACH])
REFERENCES [dbo].[SACH] ([MASACH])
GO
ALTER TABLE [dbo].[CUNGCAP] CHECK CONSTRAINT [FK_CC_CUNGCAP2_S]
GO
ALTER TABLE [dbo].[CUNGCAP]  WITH CHECK ADD  CONSTRAINT [FK_CC_CUNGCAP3_PDH] FOREIGN KEY([MAPHIEUDATHANG])
REFERENCES [dbo].[PHIEUDATHANG] ([MAPHIEUDATHANG])
GO
ALTER TABLE [dbo].[CUNGCAP] CHECK CONSTRAINT [FK_CC_CUNGCAP3_PDH]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NV_TAOTK2_TK] FOREIGN KEY([MATAIKHOAN])
REFERENCES [dbo].[TAIKHOAN] ([MATAIKHOAN])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NV_TAOTK2_TK]
GO
ALTER TABLE [dbo].[PHIEUDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_PDH_LAPPHIEUDATHANG_NV] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[PHIEUDATHANG] CHECK CONSTRAINT [FK_PDH_LAPPHIEUDATHANG_NV]
GO
ALTER TABLE [dbo].[PHIEUGIAO]  WITH CHECK ADD  CONSTRAINT [FK_PG_GIAOHANG_PDH] FOREIGN KEY([MAPHIEUDATHANG])
REFERENCES [dbo].[PHIEUDATHANG] ([MAPHIEUDATHANG])
GO
ALTER TABLE [dbo].[PHIEUGIAO] CHECK CONSTRAINT [FK_PG_GIAOHANG_PDH]
GO
ALTER TABLE [dbo].[PHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_PM_DANGKIMUOM_TTV] FOREIGN KEY([MANSD])
REFERENCES [dbo].[THETHUVIEN] ([MATTV])
GO
ALTER TABLE [dbo].[PHIEUMUON] CHECK CONSTRAINT [FK_PM_DANGKIMUOM_TTV]
GO
ALTER TABLE [dbo].[PHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_PM_LAPPHIEUMUON_NV] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[PHIEUMUON] CHECK CONSTRAINT [FK_PM_LAPPHIEUMUON_NV]
GO
ALTER TABLE [dbo].[PHIEUTRA]  WITH CHECK ADD  CONSTRAINT [FK_PT_TRASACH_PM] FOREIGN KEY([MAPHIEUMUON])
REFERENCES [dbo].[PHIEUMUON] ([MAPHIEUMUON])
GO
ALTER TABLE [dbo].[PHIEUTRA] CHECK CONSTRAINT [FK_PT_TRASACH_PM]
GO
ALTER TABLE [dbo].[SACH]  WITH NOCHECK ADD  CONSTRAINT [FK_S_THUOC_CD] FOREIGN KEY([MACHUDE])
REFERENCES [dbo].[CHUDE] ([MACHUDE])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_S_THUOC_CD]
GO
ALTER TABLE [dbo].[SACH]  WITH NOCHECK ADD  CONSTRAINT [FK_S_XUATBAN_NXB] FOREIGN KEY([MANXB])
REFERENCES [dbo].[NHAXUATBAN] ([MANXB])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_S_XUATBAN_NXB]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TK_TAOTK_NV] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TK_TAOTK_NV]
GO
ALTER TABLE [dbo].[THAMGIA]  WITH CHECK ADD  CONSTRAINT [FK_TG_THAMGIA_S] FOREIGN KEY([MASACH])
REFERENCES [dbo].[SACH] ([MASACH])
GO
ALTER TABLE [dbo].[THAMGIA] CHECK CONSTRAINT [FK_TG_THAMGIA_S]
GO
ALTER TABLE [dbo].[THAMGIA]  WITH CHECK ADD  CONSTRAINT [FK_TG_THAMGIA2_TG] FOREIGN KEY([MATACGIA])
REFERENCES [dbo].[TACGIA] ([MATACGIA])
GO
ALTER TABLE [dbo].[THAMGIA] CHECK CONSTRAINT [FK_TG_THAMGIA2_TG]
GO
ALTER TABLE [dbo].[THANHLY]  WITH CHECK ADD  CONSTRAINT [FK_ThanhLy_NhanVien] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[THANHLY] CHECK CONSTRAINT [FK_ThanhLy_NhanVien]
GO
ALTER TABLE [dbo].[THANHLY]  WITH CHECK ADD  CONSTRAINT [FK_ThanhLy_Sach] FOREIGN KEY([MASACH])
REFERENCES [dbo].[SACH] ([MASACH])
GO
ALTER TABLE [dbo].[THANHLY] CHECK CONSTRAINT [FK_ThanhLy_Sach]
GO
ALTER TABLE [dbo].[THONGBAO]  WITH CHECK ADD  CONSTRAINT [FK_THONGBAO_TAOTHONGB_TAIKHOAN] FOREIGN KEY([MANGUOITAO])
REFERENCES [dbo].[TAIKHOAN] ([MATAIKHOAN])
GO
ALTER TABLE [dbo].[THONGBAO] CHECK CONSTRAINT [FK_THONGBAO_TAOTHONGB_TAIKHOAN]
GO
ALTER TABLE [dbo].[TIEUHUY]  WITH CHECK ADD  CONSTRAINT [FK_TieuHuy_BanSaoSach] FOREIGN KEY([MABANSAO])
REFERENCES [dbo].[BANSAOSACH] ([MABANSAO])
GO
ALTER TABLE [dbo].[TIEUHUY] CHECK CONSTRAINT [FK_TieuHuy_BanSaoSach]
GO
ALTER TABLE [dbo].[TIEUHUY]  WITH CHECK ADD  CONSTRAINT [FK_TieuHuy_NhanVien] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[TIEUHUY] CHECK CONSTRAINT [FK_TieuHuy_NhanVien]
GO
ALTER TABLE [dbo].[YEUCAU]  WITH CHECK ADD  CONSTRAINT [FK_YeuCau_KHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[YEUCAU] CHECK CONSTRAINT [FK_YeuCau_KHOA]
GO
ALTER TABLE [dbo].[YEUCAU]  WITH CHECK ADD  CONSTRAINT [FK_YeuCau_NHANVIEN] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[YEUCAU] CHECK CONSTRAINT [FK_YeuCau_NHANVIEN]
GO
/****** Object:  StoredProcedure [dbo].[ADD_ChiTietMuonPhong]    Script Date: 08/12/2023 09:43:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[ADD_ChiTietMuonPhong] @Mansd Int, @Maphong Int, @Tgm Datetime, @Tgt Datetime
As
	Begin
		Insert Into Chitietmuonphong (MaNSD, MaPhong, ThoiGianMuon, ThoiGianTra)
		Values (@Mansd,@Maphong,@Tgm,@Tgt)
	End
GO
/****** Object:  StoredProcedure [dbo].[CapHuyQuyenBang]    Script Date: 08/12/2023 09:43:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[CapHuyQuyenBang] @target varchar(50), @object varchar(200), @Xem bit, @Xoa bit, @Them bit, @Sua bit
As
	Begin
		Declare @P_HuyQuyen varchar(200), @P_CapQuyen varchar(200), @GrantMoreThanOne bit = 0, @DenyMoreThanOne bit = 0

		Set @P_CapQuyen = 'Grant '
		Set @P_HuyQuyen = 'Deny '

		If(@Xem = 0)
			Begin
				Set @P_HuyQuyen = @P_HuyQuyen + 'Select '
				Set @DenyMoreThanOne = 1
			End
		Else
			Begin
				Set	@P_CapQuyen = @P_CapQuyen + 'Select '
				Set @GrantMoreThanOne = 1
			End

		If(@Xoa = 0)
			Begin
				If (@DenyMoreThanOne = 0)
					Begin
						Set @P_HuyQuyen = @P_HuyQuyen + 'Delete '
						Set @DenyMoreThanOne = 1
					End
				Else
					Set @P_HuyQuyen = @P_HuyQuyen + ', Delete '
			End
		Else
			Begin
				If (@GrantMoreThanOne = 0)
					Begin
						Set @P_CapQuyen = @P_CapQuyen + 'Delete '
						Set @GrantMoreThanOne = 1
					End
				Else
					Set @P_CapQuyen = @P_CapQuyen + ', Delete '
			End

		If(@Them = 0)
			Begin
				If (@DenyMoreThanOne = 0)
					Begin
						Set @P_HuyQuyen = @P_HuyQuyen + 'Insert '
						Set @DenyMoreThanOne = 1
					End
				Else
					Set @P_HuyQuyen = @P_HuyQuyen + ', Insert '
			End
		Else
			Begin
				If (@GrantMoreThanOne = 0)
					Begin
						Set @P_CapQuyen = @P_CapQuyen + 'Insert '
						Set @GrantMoreThanOne = 1
					End
				Else
					Set @P_CapQuyen = @P_CapQuyen + ', Insert '
			End

		If(@Sua = 0)
			Begin
				If (@DenyMoreThanOne = 0)
					Begin
						Set @P_HuyQuyen = @P_HuyQuyen + 'Update '
						Set @DenyMoreThanOne = 1
					End
				Else
					Set @P_HuyQuyen = @P_HuyQuyen + ', Update '
			End
		Else
			Begin
				If (@GrantMoreThanOne = 0)
					Begin
						Set @P_CapQuyen = @P_CapQuyen + 'Update '
						Set @GrantMoreThanOne = 1
					End
				Else
					Set @P_CapQuyen = @P_CapQuyen + ', Update '
			End

		Set @P_HuyQuyen += 'On ' + @object + ' To ' + @target
		Set @P_CapQuyen += 'On ' + @object + ' To ' + @target

		If(@GrantMoreThanOne = 1 And @DenyMoreThanOne = 1)
			Begin
				Execute (@P_HuyQuyen + ' CASCADE')
				Execute (@P_CapQuyen)
			End
		Else If (@GrantMoreThanOne = 1 And @DenyMoreThanOne = 0)
			Begin
				Execute (@P_CapQuyen)
			End
		Else If (@GrantMoreThanOne = 0 And @DenyMoreThanOne = 1)
			Begin
				Execute (@P_HuyQuyen + ' CASCADE')
			End
	End
GO
/****** Object:  StoredProcedure [dbo].[CapHuyQuyenHamThuTuc]    Script Date: 08/12/2023 09:43:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[CapHuyQuyenHamThuTuc] @target varchar(50), @object varchar(200), @Yes bit
As
	Begin
		Declare @P_HuyQuyen varchar(200), @P_CapQuyen varchar(200)

		Set @P_HuyQuyen = 'Deny Execute On ' + @object +' To ' + @target
		Set @P_CapQuyen = 'Grant Execute On ' + @object +' To ' + @target
		If(@Yes = 0)
			Execute @P_HuyQuyen
		Else
			Execute	@P_CapQuyen
	End
GO
/****** Object:  StoredProcedure [dbo].[CapNhat_TheThuVien]    Script Date: 08/12/2023 09:43:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[CapNhat_TheThuVien] @maTTV int , @hoTen nvarchar(120),@SDT char(10),@nguoiNgoai bit,@email varchar(60),@diaChi nvarchar(200),@ngayCap date, @ngayHetHan date
as
begin
	update  THETHUVIEN
	set HOTEN = @hoTen,SODIENTHOAI = @SDT,NGUOINGOAI = @nguoiNgoai,EMAIL = @email,DIACHI = @diaChi,NGAYCAP = @ngayCap,NGAYHETHAN =@ngayHetHan
	where MATTV = @maTTV
end
GO
/****** Object:  StoredProcedure [dbo].[DiffBackUp]    Script Date: 08/12/2023 09:43:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[DiffBackUp]
as
	backup database QLTHUVIEN
	to disk = 'D:\DALM\QLTV_Diff.bak'
	with init, differential
GO
/****** Object:  StoredProcedure [dbo].[Export]    Script Date: 08/12/2023 09:43:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Export] @tableName nvarchar(max), @path nvarchar(max)
as
	DECLARE @sqlCommand AS NVARCHAR(4000)

	SET @sqlCommand = 'bcp "SELECT * FROM QLTHUVIEN.dbo.'+ @tableName +'"' +' queryout ' + @path + ' -c -t, -T -S'+ @@servername + ' -w'

	EXEC xp_cmdshell @sqlCommand
GO
/****** Object:  StoredProcedure [dbo].[FullBackUp]    Script Date: 08/12/2023 09:43:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[FullBackUp]
as
	backup database QLTHUVIEN
	to disk = 'D:\DALM\QLTV_Full.bak'
	with init
GO
/****** Object:  StoredProcedure [dbo].[Import]    Script Date: 08/12/2023 09:43:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Import] @path NVARCHAR(MAX)
AS
BEGIN
EXEC sp_configure 'show advanced options', 1
RECONFIGURE with override
EXEC sp_configure 'ad hoc distributed queries', 1
RECONFIGURE with override
DECLARE @sql NVARCHAR(MAX);

SET @sql = N'insert INTO SACH (MANXB, MACHUDE, TENSACH, MOTA, NAMXUATBAN, GIASACH, ANHBIA) select * from OPENROWSET(''Microsoft.ACE.OLEDB.12.0'', ''Excel 12.0;Database=' + @path + ''', ''SELECT * FROM [Sheet1$]'')';
EXEC sp_MSSet_oledb_prop N'Microsoft.ACE.OLEDB.12.0', N'AllowInProcess', 1
EXEC sp_MSSet_oledb_prop N'Microsoft.ACE.OLEDB.12.0', N'DynamicParameters', 1
EXEC sp_executesql @sql;
--print (@sql)
END
GO
/****** Object:  StoredProcedure [dbo].[KiemTraQuyen]    Script Date: 08/12/2023 09:43:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[KiemTraQuyen] @target varchar(50), @object varchar(200)
As
	Begin
		SELECT  pri.name As Username, permit.permission_name AS [Permission],
				permit.state_desc AS [Permission State], object_name(permit.major_id) AS [Object Name]
		FROM    sys.database_principals pri LEFT JOIN sys.database_permissions permit ON permit.grantee_principal_id = pri.principal_id
		Where pri.name like @target And object_name(permit.major_id) like @object
	End
GO
/****** Object:  StoredProcedure [dbo].[LogBackUp]    Script Date: 08/12/2023 09:43:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[LogBackUp]
as
	backup log QLTHUVIEN
	to disk = 'D:\DALM\QLTV_Log.trn'
	with init
GO
/****** Object:  StoredProcedure [dbo].[PC_ThemTaiKhoan]    Script Date: 08/12/2023 09:43:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[PC_ThemTaiKhoan] @tenDN varchar(30), @mK varchar(10), @chucVu nvarchar(30)
as
begin
	insert into TAIKHOAN (TENDN,MATKHAU,CHUCVU)
	values (@tenDN,@mK,@chucVu)
end
GO
/****** Object:  StoredProcedure [dbo].[RestoreDatabase]    Script Date: 08/12/2023 09:43:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[RestoreDatabase]
as
	restore database QLTHUVIEN
	from disk = 'D:\DALM\QLTV_Full.bak'
	with norecovery, REPLACE

	restore database QLTHUVIEN
	from disk = 'D:\DALM\QLTV_Diff.bak'
	with norecovery, REPLACE

	restore database QLTHUVIEN
	from disk = 'D:\DALM\QLTV_Log.trn'
	with recovery, REPLACE
GO
/****** Object:  StoredProcedure [dbo].[SP_CapNhatTaiKhoan]    Script Date: 08/12/2023 09:43:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_CapNhatTaiKhoan] @maTK int, @tenDN varchar(30), @mK varchar(10), @chucVu nvarchar(30)
as
	SET XACT_ABORT ON
	begin tran
	update TAIKHOAN
	set TENDN = @tenDN,MATKHAU = @mK,CHUCVU = @chucVu
	where MATAIKHOAN = @maTK
	commit tran
GO
/****** Object:  StoredProcedure [dbo].[SP_ThemTaiKhoan]    Script Date: 08/12/2023 09:43:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_ThemTaiKhoan] @tenDN varchar(30), @mK varchar(10), @chucVu nvarchar(30)
as
	SET XACT_ABORT ON
	begin tran
	insert into TAIKHOAN (TENDN,MATKHAU,CHUCVU)
	values (@tenDN,@mK,@chucVu)
	commit
GO
/****** Object:  StoredProcedure [dbo].[SP_XoaTaiKhoan]    Script Date: 08/12/2023 09:43:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_XoaTaiKhoan] @maTK int
as
	SET XACT_ABORT ON
	begin tran
	Update NhanVien Set MaTaiKhoan = null Where MANHANVIEN = (Select MaNhanVien From TaiKhoan Where MATAIKHOAN = @maTK)
	delete TAIKHOAN
	where MATAIKHOAN = @maTK
	commit tran
GO
/****** Object:  StoredProcedure [dbo].[SuaNhanVien]    Script Date: 08/12/2023 09:43:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SuaNhanVien] (@maNV int, @maTK int, @hoTen nvarchar(120), @ngaySinh DateTime, @SDT char(10), @diaChi nvarchar(200), @email varchar(120))
As
	UPDATE NHANVIEN
    SET    MaTaiKhoan = @maTK,
            HoTen = @hoTen,
            NgaySinh = @ngaySinh,
            DiaChi = @diaChi,
			Email = @email
    WHERE  MaNhanVien = @maNV
GO
/****** Object:  StoredProcedure [dbo].[TaoTaiKhoanNhanVien]    Script Date: 08/12/2023 09:43:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[TaoTaiKhoanNhanVien] (@hoTen nvarchar(120), @ngaySinh DateTime, @SDT char(10), @diaChi nvarchar(200), @email varchar(120), @tenDN varchar(30), @mK varchar(10), @chucVu nvarchar(30))
As
	Begin
		Execute SP_ThemTaiKhoan @tenDN, @mK, @chucVu
		Declare @maTK int
		Set @maTK = (Select MaTaiKhoan From TaiKhoan Where TenDN = @tenDN)
		Execute ThemNhanVien @maTK, @hoTen, @ngaySinh, @SDT, @diaChi, @email
		Update TaiKhoan
		Set MaNhanVien = (Select MaNhanVien From NhanVien Where SoDienThoai = @SDT)
		Where MaTaiKhoan = @maTK
	End
GO
/****** Object:  StoredProcedure [dbo].[Them_TheThuVien]    Script Date: 08/12/2023 09:43:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Them_TheThuVien] @hoTen nvarchar(120),@SDT char(10),@nguoiNgoai bit,@email varchar(60),@diaChi nvarchar(200),@ngayCap date, @ngayHetHan date
as
begin tran
	set transaction isolation
	level read uncommitted
	insert into THETHUVIEN
	values (@hoTen,@SDT,@nguoiNgoai,@email,@diaChi,@ngayCap,@ngayHetHan )
commit tran
GO
/****** Object:  StoredProcedure [dbo].[ThemLog]    Script Date: 08/12/2023 09:43:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[ThemLog] @lenh nvarchar(Max)
As
	Begin
		Insert into LogTaiKhoanNhanVien Values (current_user, Getdate(), @lenh)
	End
GO
/****** Object:  StoredProcedure [dbo].[ThemNhanVien]    Script Date: 08/12/2023 09:43:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[ThemNhanVien] (@maTK int, @hoTen nvarchar(120), @ngaySinh DateTime, @SDT char(10), @diaChi nvarchar(200), @email varchar(120))
As
	Insert Into NHANVIEN Values (@maTK, @hoTen, @ngaySinh, @SDT, @diaChi, @email)
GO
/****** Object:  StoredProcedure [dbo].[UpdateChiTietMuonPhong]    Script Date: 08/12/2023 09:43:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[UpdateChiTietMuonPhong] @maNSD int , @maphong int, @manv int, @TGM datetime, @TGT datetime
as
begin
	update CHITIETMUONPHONG
	set MAPHONG = @maphong, MANHANVIEN = @manv, THOIGIANMUON = @TGM, THOIGIANTRA = @TGT
	where MANSD = @maNSD and MAPHONG = @maphong and THOIGIANMUON = @TGM
end
GO
/****** Object:  StoredProcedure [dbo].[Xoa_TheThuVien]    Script Date: 08/12/2023 09:43:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Xoa_TheThuVien] @maNSD int
as
begin tran
	set transaction isolation
	level read uncommitted
	--xoa vi pham
	while(exists(select * from PHIEUTRA pt,PHIEUMUON pm,BIVIPHAM vp where  pm.MANSD = @maNSD and pt.MAPHIEUMUON = pm.MAPHIEUMUON and pt.MAPHIEUTRA = vp.MAPHIEUTRA))
	begin
		delete BIVIPHAM
		where MAPHIEUMUON = (select distinct top(1) vp.MAPHIEUMUON from PHIEUTRA pt,PHIEUMUON pm,BIVIPHAM vp where  pm.MANSD = @maNSD and pt.MAPHIEUMUON = pm.MAPHIEUMUON and pt.MAPHIEUTRA = vp.MAPHIEUTRA)
	end
	--xoa phieu tra
	while(exists(select * from PHIEUTRA pt,PHIEUMUON pm, CHITIETTRASACH ctts where pm.MANSD = @maNSD and pm.MAPHIEUMUON = pt.MAPHIEUMUON and pt.MAPHIEUTRA = ctts.MAPHIEUTRA))
	begin
		delete CHITIETTRASACH
		where MAPHIEUMUON = (select distinct top(1) ctts.MAPHIEUMUON  from CHITIETTRASACH ctts,PHIEUTRA pt,PHIEUMUON pm where ctts.MAPHIEUMUON = pt.MAPHIEUMUON and pt.MAPHIEUMUON = pm.MAPHIEUMUON and pm.MANSD = @maNSD)
	end
	while(exists(select * from PHIEUMUON pm, PHIEUTRA pt where  pm.MANSD = @maNSD and pm.MAPHIEUMUON = pt.MAPHIEUMUON))
	begin
		delete PHIEUTRA
		where MAPHIEUMUON = (select distinct top(1) pt.MAPHIEUMUON from PHIEUMUON pm, PHIEUTRA pt where  pm.MANSD = @maNSD and pm.MAPHIEUMUON = pt.MAPHIEUMUON)
	end
	--xoa phieu muon
	while(exists(select * from CHITIETMUONSACH ctms,PHIEUMUON pm where  pm.MANSD = @maNSD and ctms.MAPHIEUMUON = pm.MAPHIEUMUON))
	begin
		delete CHITIETMUONSACH
		where MAPHIEUMUON = (select distinct top(1) ctms.MAPHIEUMUON from CHITIETMUONSACH ctms,PHIEUMUON pm where  pm.MANSD = @maNSD and ctms.MAPHIEUMUON = pm.MAPHIEUMUON)
	end
	while(exists(select distinct MANSD from PHIEUMUON where MANSD = @maNSD))
	begin
		delete PHIEUMUON
		where MANSD = @maNSD
	end
	--xoa muon phong
	while(exists(select distinct MANSD from CHITIETMUONPHONG where MANSD = @maNSD))
	begin
		delete CHITIETMUONPHONG
		where MANSD = @maNSD
	end
	while(exists(select MATTV from THETHUVIEN where MATTV = @maNSD))
	begin
		delete THETHUVIEN
		where MATTV = @maNSD
	end
commit tran
GO
/****** Object:  StoredProcedure [dbo].[XoaNhanVien]    Script Date: 08/12/2023 09:43:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[XoaNhanVien] (@maNV int)
As
	Delete From NhanVien
	Where MaNhanVien = @maNV
GO
