
@{
    ViewBag.Title = "HandleViolation";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<body>
    <div class="test">
        <div class="header ml-0">
            <h2 class="position-relative" style="color: #440ccb ">Xử Lý Vi Phạm</h2>
            <hr class="bg-dark"></hr>
        </div>
    </div>
    <a href="@Url.Action("AddHandleViolation","Home")" class="add-room btn btn-primary">+ Thêm Vi Phạm</a>
    <table class="styled-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Tên Vi Phạm</th>
                <th>ID Độc giả</th>
                <th>Tên Độc giả</th>
                <th>Xử Lý Vi Phạm</th>
                <th>Tình Trạng</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>001</td>
                <td>Trả Sách Trễ Hạn</td>
                <td>100001</td>
                <td>Trần Mỹ Hằng</td>
                <td>Đóng Phạt 400.000đ</td>
                <td>Đã Thanh Toán</td>
            </tr>
            <tr class="active-row">
                <td>002</td>
                <td>Trả Sách Trễ Hạn</td>
                <td>100002</td>
                <td>Han Han</td>
                <td>Đóng Phạt 300.000đ</td>
                <td>Đã Thanh Toán</td>
            </tr>
            <tr>
                <td>001</td>
                <td>Trả Sách Trễ Hạn</td>
                <td>100001</td>
                <td>Trần Mỹ Hằng</td>
                <td>Đóng Phạt 400.000đ</td>
                <td>Đã Thanh Toán</td>
            </tr>
            <tr class="active-row">
                <td>002</td>
                <td>Trả Sách Trễ Hạn</td>
                <td>100002</td>
                <td>Han Han</td>
                <td>Đóng Phạt 300.000đ</td>
                <td>Đã Thanh Toán</td>
            </tr>
            <tr>
                <td>001</td>
                <td>Trả Sách Trễ Hạn</td>
                <td>100001</td>
                <td>Trần Mỹ Hằng</td>
                <td>Đóng Phạt 400.000đ</td>
                <td>Đã Thanh Toán</td>
            </tr>
            <tr class="active-row">
                <td>002</td>
                <td>Trả Sách Trễ Hạn</td>
                <td>100002</td>
                <td>Han Han</td>
                <td>Đóng Phạt 300.000đ</td>
                <td>Đã Thanh Toán</td>
            </tr>
            <tr>
                <td>001</td>
                <td>Trả Sách Trễ Hạn</td>
                <td>100001</td>
                <td>Trần Mỹ Hằng</td>
                <td>Đóng Phạt 400.000đ</td>
                <td>Đã Thanh Toán</td>
            </tr>
            <tr class="active-row">
                <td>002</td>
                <td>Trả Sách Trễ Hạn</td>
                <td>100002</td>
                <td>Han Han</td>
                <td>Đóng Phạt 300.000đ</td>
                <td>Đã Thanh Toán</td>
            </tr>
        </tbody>
    </table>
</body>