@{
    ViewBag.Title = "Lập Phiếu Mượn Sách";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    var carts = Session["cartBooks"] as List<QL_ThuVien.Models.BANSAOSACH> ?? new List<QL_ThuVien.Models.BANSAOSACH>();
}

<body>
    <div class="test">
        <div class="header ml-0">
            <h2 class="position-relative" style="color: #440ccb ">TÀI LIỆU CHO MƯỢN</h2>
        </div>
    </div>
    <div class="container">
        <div class="table">
            <table class="table" id="table_id" width="100%" cellspacing="0">
                <colgroup>
                    <col style="width: 15%;">
                    <col style="width: 8%;">
                    <col style="width: 15%;">
                </colgroup>
                <thead>
                    <tr class="text-center">
                        <th>Mã Bản Sao</th>
                        <th>Mã Sách</th>
                        <th class="text-center">Công Cụ</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in carts)
                    {
                        <tr>
                            <td>@item.MABANSAO</td>
                            <td>@item.MASACH</td>
                            <td class="text-center">
                                <span class="@(!item.TINHTRANG ? "btn-remove-cart-book btn-danger" : "btn-secondary") btn btn-edit m-l-0 px-075" title="Xóa bản sao khỏi phiếu mượn">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div style="text-align: right;"><div class="btn btn-primary" style="text-transform:uppercase;">Lập phiếu mượn</div></div>
    </div>
    <script>
        $('.btn-remove-cart-book').click(function () {
            var row = $(this).closest('tr');
            removeCartBooks($(row).find('td:eq(0)').html(), $(row).find('td:eq(1)').html(), function () {
                $('#table_id').DataTable().row(row).remove().draw();
                $('.tooltip').hide();
            });
        });
    </script>
</body>
<style>
    .test {
        max-width: max-content;
        padding: 20px;
        display: block;
    }

    .add-room {
        background-color: #440ccb;
        color: white;
        margin-bottom: 20px;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: left;
        max-width: 250px;
    }

    .styled-table {
        border-collapse: collapse;
        margin: auto;
        font-size: 0.9em;
        font-family: sans-serif;
        width: inherit;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

        .styled-table thead tr {
            background-color: #333333;
            color: #ffffff;
            text-align: left;
        }

        .styled-table th,
        .styled-table td {
            padding: 12px 15px;
        }

        .styled-table tbody tr {
            border-bottom: 1px solid #dddddd;
        }

            .styled-table tbody tr:nth-of-type(even) {
                background-color: #f3f3f3;
            }

            .styled-table tbody tr:last-of-type {
                border-bottom: 2px solid #333333;
            }
</style>


