@{
    ViewBag.Title = "SendBackBook";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<body>
    <div class="test">
        <div class="header ml-0">
            <h2 class="position-relative" style="color: #440ccb ">TÀI LIỆU ĐÃ TRẢ</h2>
            <hr class="bg-dark"></hr>
        </div>
    </div>
    <button class="add-room">+ Thêm Sách</button>
    <table class="styled-table">
        <thead>
            <tr>
                <th>Mã Phòng</th>
                <th>Tên Phòng</th>
                <th>Vị Trí</th>
                <th>Người Sử Dụng</th>
                <th>Tình Trạng</th>
                <th>Công Cụ</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1001</td>
                <td>Phòng Học Tập</td>
                <td>A101</td>
                <td>Only Han</td>
                <td>Còn Trống</td>
                <td>Only Han</td>
            </tr>
            <tr class="active-row">
                <td>1002</td>
                <td>Phòng VIP</td>
                <td>A102</td>
                <td>Only Hằng</td>
                <td>Còn Trống</td>
                <td>Only Han</td>
            </tr>
        </tbody>
    </table>
</body>