<style>
    .footer {
        background: #082b51;
        /*color: rgba(255, 255, 255, 0.75);*/
        font-size: 13px;
        padding: 15px 0 0 !important;
        font-weight: 300;
        line-height: 22px;
    }

    .footer-bottom {
        border-top: 1px #15365a solid;
    }
    .container-custom {
        padding: 20px;
    }
</style>
<div class="footer">
    <div class="container-custom" style="background-color: #082b51 !important; color: rgba(255, 255, 255, 0.75); ">
        <div class="row">
            <div class="col-md-8 col-sm-8 padding-top-10">
                <!--?xml version="1.0" encoding="utf-16"?--><p xmlns="http://www.w3.org/1999/xhtml" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:local="urn:local"><b style="text-transform:uppercase">Hệ thống quản lý - Thư viện Đại học Lùa Gà<span style="display:none">hidden</span></b></p><p xmlns="http://www.w3.org/1999/xhtml" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:local="urn:local">
                    <span><strong>Địa chỉ liên hệ: </strong>​140 Lê Trọng Tấn, Tân Phú, TP. Hồ Chí Minh, Việt Nam<span style="display:none">hidden</span></span><br><span><strong>Điện thoại: </strong>028 3816 1673 - 137<span style="display:none">hidden</span></span><br><span><strong>Email: </strong>noreply.qltv@gmail.com<span style="display:none">hidden</span></span><br>
                    Hotline: 097 117 3837
                    <span style="display:none">hidden</span>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container-custom" style="background-color: #051a31 !important;">
            <div class="row">
                <div class="col-md-7 col-sm-6 padding-top-10">
                    <!--?xml version="1.0" encoding="utf-16"?-->
                    2022 © Thư viện Đại học Lùa Gà.
                    <span style="display:none" xmlns="http://www.w3.org/1999/xhtml" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:local="urn:local">hidden</span>
                </div>
            </div>
        </div>
    </div>
</div>
